:root {
  --prime-link-color: #2196f3;
  --prime-text-color: #757575;
  --link-hover-color: #ffffff;
}
/*MAINPAIGE*/
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

ul {
  list-style: none;
}

.header .logo,
.link,
.mail,
.phone {
  text-decoration: none;
}

.header .logo,
.footer .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
}

.header .logo-studio {
  color: #000000;
}
.header .link,
.header .mail,
.header .phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header .mail,
.header .phone {
  color: var(--prime-text-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--main-link-color);
}

.main h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--link-hover-color);
}
.hero .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
  color: var(--link-hover-color);
}

.advantages ul li {
  display: inline; /*zagotovka*/
}
.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}
.wwd h2,
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.wwd ul li {
  display: inline;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}

.footer,
.hero {
  background-color: #2f303a;
}
.footer .logo a {
  text-decoration: none;
}

.footer .logo-studio {
  color: var(--link-hover-color);
}

.footer ul a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer ul a:hover,
.footer ul a:focus {
  color: var(--link-hover-color);
}

/*PORTFOLIO*/
.filters li {
  display: inline;
}
.filters .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.filters .button:hover,
.filters .button:focus {
  color: var(--link-hover-color);
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}
.portfolio-list li {
  list-style: none;
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
}

.portfolio-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list p {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}
